---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';

import { site } from '../data/site';
import FeaturedLink from '../components/FeaturedLink.astro';
import Background from '../components/Background.astro';
import ProfileHeader from '../components/ProfileHeader.astro';
import SocialLinks from '../components/SocialLinks.astro';
import LinkCard from '../components/LinkCard.astro';
import Footer from '../components/Footer.astro';
import ContactModal from '../components/ContactModal.astro';

const origin = new URL(site.seo.url).origin;
const jsonLd = {
  '@context': 'https://schema.org',
  '@graph': [
    {
      '@type': 'WebSite',
      name: site.seo.siteName,
      url: `${origin}/`,
    },
    {
      '@type': 'Person',
      name: site.profile.name,
      url: `${origin}/`,
      image: site.profile.avatarSrc,
      sameAs: site.socialLinks.map((link) => link.href),
    },
  ],
};
---

<Layout
  title={site.seo.title}
  ogTitle={site.seo.ogTitle}
  twitterTitle={site.seo.twitterTitle}
  description={site.seo.description}
  url={site.seo.url}
  image={site.seo.image}
  siteName={site.seo.siteName}
  locale={site.seo.locale}
  twitterSite={site.seo.twitterSite}
  twitterCreator={site.seo.twitterCreator}
>
  <script type='application/ld+json' slot='head' set:html={JSON.stringify(jsonLd)} />
  <div class='min-h-screen relative'>
    <div class='relative z-20 px-4 pt-6'>
      <div class='mx-auto w-full max-w-md'>
        <FeaturedLink
          href={site.featuredLink.href}
          title={site.featuredLink.title}
          subtitle={site.featuredLink.subtitle}
        />
      </div>
    </div>

    <Background />

    <div class='relative z-10 flex flex-col items-center justify-center min-h-screen px-4 py-12'>
      <div class='w-full max-w-md space-y-8'>
        <ProfileHeader
          avatarSrc={site.profile.avatarSrc}
          name={site.profile.name}
          handle={site.profile.handle}
          bio={site.profile.bio}
        />

        <SocialLinks links={site.socialLinks} />

        <div class='space-y-3 pt-4'>
          {
            site.linkCards.map((card) => (
              <LinkCard
                href={card.href}
                title={card.title}
                subtitle={card.subtitle}
                trailingIcon={card.trailingIcon}
                style={card.style}
                isContact={card.isContact}
              />
            ))
          }
        </div>

        </div>
        <Footer />
      </div>
    </div>
  </div>

  <ContactModal />
  
  <script src="/scripts/contactModal.js" is:inline></script>
</Layout>